nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
}

.write-tweet {
  display: flex;
  align-items: center;
}

.write-new-tweet {
  margin-right: 10px;
}

.fa-angle-double-down {
  font-size: 14px;
}
